body {
    font-family: 'Raleway', 'Roboto', 'sans-serif';
    text-decoration: none;
    background: #FFF;
}

/* Header */
.logo {
color: var(--IRIS, #4D5AE5);
font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-studio {
    color: var(--NAVY-BLUE, #2E2F42);
}
a {
    text-decoration: none;
}
.nav-link-contact {
    color: #2E2F42;
    font-family: Roboto;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.nav-link-contact:hover,
.nav-link-contact:focus {
    color: var(--OCEAN, #404BBF);
}
.contact-link {
    color: #434455;
        font-family: Roboto;
        line-height: 150%;
        letter-spacing: 0.32px;
}
.contact-link:hover,:focus {
    color: var(--OCEAN, #404BBF);
}
.hero {
    background-color: var(--NAVY-BLUE, #2E2F42);width: 1440px;
        height: 600px;
        flex-shrink: 0;
}
.hero-heading {
    color: var(--WHITE, #FFF);
        text-align: center;
        font-family: Roboto;
            font-size: 56px;
            line-height: 60px;
            /* 107.143% */
            letter-spacing: 1.12px;
}
.hero-button {
    border-radius: 4px;
        background: var(--IRIS, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--WHITE, #FFF);
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            /* 150% */
            letter-spacing: 0.64px;
}
ul {
    list-style-type: none;
}
h3 {
color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        /* 120% */
        letter-spacing: 0.4px;
}
p {
color: var(--SLATE, #434455);
    font-family: Roboto;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}
.our-team {
    background-color: var(--CLOUD, #F4F4FD);
}
h2 {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        line-height: 40px;
        /* 111.111% */
        letter-spacing: 0.72px;
        text-transform: capitalize;
}

/* Footer*/
.footer {
    background: var(--NAVY-BLUE, #2E2F42);
    width: 1440px;
        height: 312px;
        flex-shrink: 0;
}
.footer-logo {
color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    /* 116.667% */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.footer-logo-studio {
    color: var(--CLOUD, #F4F4FD);
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.footer-text {
    color: var(--CLOUD, #F4F4FD);
        font-family: Roboto;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}